header {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .logo{
color: #fb811e;
font-size: 30px;
transition: all 0.5s;
}
header .logo:hover{
    color: black;
}
header .logo i {
   position: absolute;
    top: 0px;
    left: 75px;
    font-size: 20px;
}

header .menu i {
    margin: 10px 25px;
    font-size: 25px;
}
header .menu i:first-child{
    margin: 0;
}
.btn{
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px; 
}
.btn:hover{
    background-color: #009f4d;
    color: white;
}
