body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Volkhov', serif;
    line-height: 1.5;
    color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 27px;
    color: #707070;
    margin: 0;
    padding: 0;
}
@media (min-width: 1280px){
    .container {
     max-width: 1200px;
 } 
 }
 #body .white{
    background-color: black;
}
header {
    background-color: transparent;
    padding: 15px;
    transition: all 0.4s;
    height: 90px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .navbar{
    padding: 0;
}
p.banner-text{
    font-size: 18px;
}
header .logo {
    color: #fb811e;
    font-size: 30px;
    transition: all 0.5s;
}

header .logo:hover {
    color: black;
}

header .logo i {
    position: absolute;
    top: 0px;
    left: 75px;
    font-size: 20px;
}

header .menu i {
    margin: 10px 6px;
    font-size: 25px;
    color: white;
}

header .menu i:first-child {
    margin: 0px;
    color: #060606;
    border-radius: 24px;
    background-color: white;
    padding: 6px;
    font-size: 20px;
}

.btn {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
}

.btn:hover {
    background-color: #009f4d;
    color: white;
}

/* carousel */
.banner-left {
    position: absolute;
    left: 10em;
    z-index: 1;
}

.banner-left h1 {
    color: #f4f4f4;
    font-size: 130px;
    font-weight: bold;
    margin-left: -0.6em;
}

.bann-contents h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}

.small-title {
    color: #fb811e;
    font-size: 22px;
}

.title-style {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}
.carousel-inner {
    height: 100vh;
    border-bottom-left-radius: 20px; 
    
    
}

/* set cho carousel-item một chiều cao bằng 100% với cha là carousel-inner để cho chiều cao item không bị đài xuống tới dưới ảnh hưởng layout */
.carousel-inner .carousel-item {
    height: 100%;
    
}
.carousel-inner .carousel-item::before{
   content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.17);
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
}


.carousel-caption {
    position: absolute;
    right: 0%;
    left: 85%;
}

.carousel-caption p {
    color: #fff;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 8px;
}

.carousel-indicators li.active {
    background-color: #fb811e;
}

/* grow */
.feature-right .row  {
    margin-right: -78px;
    margin-left: -25px;
}
.feature-right .row .col-md-5 {
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: #fff;
}
.feature-right .row .col-md-5:hover{
    transition: 0.3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.feature-right .row .col-md-5 .icon img{
    width: 30%;
}
/* service */
#service {
    background-color: #009f4d;
}

@media (min-width: 992px) {
    .ol-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.title-bg-content {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.card {
    background: none;
    border: none;
}

.card-img-top {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card-body {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #eee;
    border-top: none;
}

.card .card-body .button {
    margin-bottom: 7px;
    background-color: rgb(0 159 77 / 16%);
    text-transform: none;
    padding: 5px 20px;
    color: #009f4d;
    font-weight: 600;
    border-radius: 15px;
}

.card .card-body h5 {
    display: block;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: #060606;
    margin: 15px 0;
}

.card .card-body p {
    font-size: 15px;
    line-height: 27px;
    color: #707070;
}

.col-md-5 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #060606;

}

.col-md-5 a:hover {
    color: #009f4d;
    text-decoration: none;
    transition: all 0.5s;
}

/* quality */
#quanlity i {
    font-size: 30px;
    color: #fb811e;
}

.quanlity-right .detail h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.mt-3 {
    margin: 0;
    padding: 0;
}

.left-img img {
    border-radius: 30px;
}

.img__box {
    background-color: #fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.img__box .img__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.img__box p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
}

/* carousel2 */
.carousel-inner2 .carousel-item2 .carousel_content2{
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    top:50%;
    
    }
    
    .carousel-indicators2 li {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 3px;
        margin-left: 3px
    }
    .carousel-indicators2 li.active{
        background-color: orangered;
    }

