.dark{
    background-color: #222222;
}
.dark h2, h3, h4, h5 ,h6 {
    color: #fdfffc;
} 
.dark .banner-left h1 {
    color: #0b0d0e;
}
.dark h3.title-style {
    color: #fdfffc;
}      
.dark .feature-right .row .col-md-5{
    box-shadow: 0 1rem 3rem rgb(23 19 19);
    background-color: #222222;
    
}
.dark .feature-right .row .col-md-5:hover{
    transition: 0.3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%)
}
.dark .col-md-5 a {
    color: white;
}
.dark .col-md-5 a:hover{
    color: #009f4d;
}
.dark .card-body {
    background: #222222;
    border: 1px solid #222222;
}
.dark .card .card-body h5 {
color: #fdfffc;

}